@import "variables";
$fondo: orange;
$primer: #ce5555;
$pcolor: #0000ff;
body {
  background-color: $fondo;
  h1 {
    background-color: $primer;
    color: $fondo;
  }
  p {
    color: $pcolor;
  }

  div {
    border: 1px solid $otra;
    p {
      color: aqua;
    }
  }
}
